APP_NAME="DocHub eContract Sample"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DOCHUB_BASE_URL=https://your-base-api-url
DOCHUB_USERNAME=your_username
DOCHUB_PASSWORD=your_password
DOCHUB_COMPANY_ID=164

DOCHUB_DOCUMENT_TYPE_ID=54
DOCHUB_DEPARTMENT_ID=33
DOCHUB_DOCUMENT_FILE=storage/app/samples/sample.pdf

DOCHUB_PROCESS_USER_CODE=BAOTH
DOCHUB_SIGN_POSITION="14,478,206,568"
DOCHUB_SIGN_PAGE=1

DOCHUB_TEMPLATE_ID=1141
DOCHUB_BATCH_DOCUMENT_TYPE_ID=1089
DOCHUB_BATCH_DEPARTMENT_ID=33
DOCHUB_BATCH_USER_CODE=baoth
DOCHUB_BATCH_ROWS=2
